<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Create or Edit Blog</title>
    <style>
        .container{
            margin: 50px;
            display: flex;
            justify-content: center;
        }
        label{
            display:block;
        }
        textarea{
            width:800px;
            resize: none;
        }
    </style>
</head>

<body>
<h1 style="text-align: justify;">Blog Post App</h1>
    <h3><span th:text="${message}"/></h3>
    <div class="container">
        <form>
            <input type="hidden" th:value="${post}!=null?${post.id}:null" name="id">
            <div>
                <label>Title</label>
                <textarea type="text" placeholder="Title"
                          th:text="${post}!=null?${post.title}:null" name="title"></textarea>
            </div>
            <br>
            <div>
                <label>Author</label>
                <textarea placeholder="Author name"
                          th:text="${post}!=null?${post.excerpt}:null"
                          name="author"></textarea>
            </div>
            <br>
            <div>
                <label>Content</label>
                <textarea placeholder="Write your content here"
                          th:text="${post}!=null?${post.content}:null" style="height: 250px;resize: vertical;" name="content"></textarea>
            </div>
            <br>
            <!--				<div class="mb-3">-->
            <!--					<textarea class="form-control postField" placeholder="Enter tags seperated by ',' "-->
            <!--							  style="height: 70px;resize:none;" name="tags"></textarea>-->
            <!--				</div>-->
            <div>
                <button type="submit" formaction="/post/publish"
                        formmethod="post">Publish
                </button>
                &nbsp &nbsp &nbsp
                <button type="submit" formaction="/post/draft"
                        formmethod="post">Save as Draft
                </button>
            </div>
            <!-- <div class="container" th:if="${post != null}">
                <button class="btn btn-warning" type="submit" formaction="/updateblog" formmethod="post">Save</button>
            </div> -->

        </form>
    </div>
</body>

</html>