<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Create New Blog</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>

<body>
<!--	<div class="container-fluid" th:insert="navbar::navbar(${user})"></div>-->
<div th:if="${message}" class="alert alert-info w-25 my-3 mx-5" role="alert">
	<span th:text="${message}" />
</div>
	<div class="container">
		<div class="container mt-4 w-75">
			<form>
				<input type="hidden" th:value="${post}!=null?${post.id}:null" name="id">
				<div class="mb-3">
					<label class="p-2 lead fw-bold">Title</label>
					<textarea type="text" class="form-control postField title"  placeholder="Title"
							  th:text="${post}!=null?${post.title}:null"name="title" style="resize:none;"></textarea>
				</div>
				<div class="mb-3">
					<label class="p-2 lead fw-bold">Excerpt</label>
					<textarea class="form-control postField" placeholder="Give an excerpt here"
							  th:text="${post}!=null?${post.excerpt}:null" style="height: 70px;resize:none;" name="excerpt"></textarea>
				</div>
				<br>
				<div class="mb-3">
					<label class="p-2 lead fw-bold">Content</label>
					<textarea class="form-control postField" placeholder="Write your content here"
							  th:text="${post}!=null?${post.content}:null" style="height: 250px" name="content"></textarea>
				</div>
<!--				<div class="mb-3">-->
<!--					<textarea class="form-control postField" placeholder="Enter tags seperated by ',' "-->
<!--							  style="height: 70px;resize:none;" name="tags"></textarea>-->
<!--				</div>-->
				<div class="container">
					<button class="btn btn-outline-success" type="submit" formaction="/post/publish"
						formmethod="post">Publish</button>&nbsp &nbsp &nbsp
					<button class="btn btn-outline-warning" type="submit" formaction="/post/draft"
						formmethod="post">Save as Draft</button>
				</div>
				<!-- <div class="container" th:if="${post != null}">
					<button class="btn btn-warning" type="submit" formaction="/updateblog" formmethod="post">Save</button>
				</div> -->

			</form>
		</div>

	</div>
</body>

</html>